:root {
  --theme:#fff;
}

main .fill-out__call, main .join-us__content, main .gallery, main .our-video__top--play, main .our-video__top, header .menu__content--item, header .menu__content, header .menu {
  display: flex;
  align-items: center;
}

main .gallery, main .about {
  margin: 3rem 2%;
}

main .quality, header .header-content {
  padding: 0 2%;
}

main .about__bottom {
  padding: 0 4%;
}

footer, main .join, main .clients__content {
  padding: 3rem 4%;
}

main p {
  color: #666;
  line-height: 25px;
  font-size: 18px;
}

main h2 {
  font-size: 30px;
}

main .about__bottom--items h3 {
  font-size: 24px;
}

footer h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

main .fill-out form button, main .join-us__content button:nth-child(1), main .join__top form button, main .quality__top button, main .our-video__top--content button, main .about__top--content button:nth-child(1) {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6a00;
  color: #fff;
  font-size: 1rem;
}

main .about-us__top .read-more button, main .join-us__content button:nth-child(2), main .about__top--content button:nth-child(2) {
  color: #ff6a00;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #ff6a00;
  border-bottom-width: 4px;
  background-color: #fff;
  font-size: 1rem;
}

main .join-us, header, main .clients, main .our-video__top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .join-us::before, header::before, main .clients::before, main .our-video__top::before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

main .fill-out form button:hover, main .join-us__content button:hover:nth-child(1), main .join__top form button:hover, main .quality__top button:hover, main .our-video__top--content button:hover, main .about__top--content button:hover:nth-child(1) {
  background-color: #d25c08;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Sarabun", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
body img {
  width: 100%;
}
body button {
  cursor: pointer;
}

header {
  position: relative;
}
header .menu {
  width: 100%;
  padding: 1rem 2%;
  position: absolute;
  justify-content: space-between;
}
header .menu__logo a {
  text-decoration: none;
  color: var(--theme);
  font-size: 2rem;
  font-weight: 600;
}
header .menu__content {
  gap: 15px;
  color: var(--theme);
}
header .menu__content--list {
  display: none;
}
header .menu__content--list ul {
  display: flex;
  list-style-type: none;
}
header .menu__content--list .pages:hover #dropdown {
  display: block;
}
header .menu__content--list #dropdown {
  flex-direction: column;
  display: none;
  position: absolute;
  top: 80%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
header .menu__content--list #dropdown a {
  display: inline-block;
  color: #000;
  padding: 0.5rem 0;
}
header .menu__content--list #dropdown a:hover {
  color: #ff6a00;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--list {
    display: flex;
    align-items: center;
  }
}
header .menu__content--list a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
header .menu__content--list a:hover {
  color: #ff6a00;
  transition: 0.8s;
}
header .menu__content--list .hight-light {
  color: #ff6a00;
}
header .menu__content--list form {
  display: flex;
}
header .menu__content--list form input {
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
header .menu__content--list form button {
  flex-shrink: 1;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ff6a00;
}
header .menu__content button {
  border: none;
  background: none;
}
header .menu__content button i {
  font-size: 1.5rem;
  color: #fff;
}
header .menu__content--item {
  justify-content: center;
  background-color: #ff6a00;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
}
header .menu__content--item i {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--item {
    display: none;
  }
}
header .header-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme);
}
header .header-content h1 {
  font-size: 3rem;
  margin: 0;
}
header .header-content p {
  margin: 0;
  display: flex;
  align-items: baseline;
}
header .header-content p::before {
  content: " ";
  display: inline-block;
  width: 5rem;
  height: 2px;
  background-color: #fff;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  header .menu {
    padding: 1rem 5%;
  }
  header .header-content h1 {
    font-size: 6rem;
  }
  header .header-content p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1195px) {
  header .header-content {
    width: 75%;
  }
}

main {
  padding: 3rem 0;
}
main img {
  border-radius: 5px;
}
main .title {
  color: #ff6a00;
  margin: 0;
  display: inline-block;
  position: relative;
}
main .title::after {
  content: " ";
  width: 3rem;
  height: 2px;
  background-color: #ff6a00;
  display: block;
  position: absolute;
  left: 50%;
  top: 1.8rem;
  transform: translateX(-50%);
}
main .about {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  gap: 3rem;
}
main .about__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
main .about__top--content .read-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__top--content .read-more {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__top--content .read-more button {
    width: auto;
  }
}
main .about__top--content button:nth-child(2):hover {
  background-color: #ff6a00;
  color: #fff;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  main .about__top {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .about__bottom {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__bottom {
    grid-template: 1fr 1fr/1fr 1fr;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__bottom {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
main .about__bottom--items i {
  font-size: 2.5rem;
  color: #ff6a00;
}
main .about__bottom--items h3:hover {
  color: #ff6a00;
  transition: 0.5s;
}
main .our-video {
  margin: 1.5rem 0;
}
main .our-video__top {
  background-image: url(../img/bg-1.jpg);
  position: relative;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 3rem;
}
main .our-video__top--content {
  position: relative;
  padding: 3rem 2% 0;
}
@media only screen and (min-width: 768px) {
  main .our-video__top--content {
    padding: 3rem 5% 0;
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__top--content {
    padding: 3rem 10% 0;
  }
}
main .our-video__top--content h2 {
  color: #fff;
}
main .our-video__top--play {
  position: relative;
  justify-content: center;
}
main .our-video__top--play div {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid #f6f6f6;
}
main .our-video__top--play i {
  font-size: 1rem;
  color: #ff6a00;
  padding: 0.9rem 1rem;
  border-radius: 50%;
  background-color: #fff;
}
@media only screen and (min-width: 1195px) {
  main .our-video__top {
    flex-direction: row;
  }
  main .our-video__top--content {
    width: 50%;
  }
  main .our-video__top--play {
    width: 50%;
  }
}
main .our-video__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
  gap: 0;
  padding: 4rem;
  margin: 0 2%;
  background-color: #ff6a00;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  main .our-video__bottom {
    margin: 0 5%;
    transform: translateY(-10%);
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__bottom {
    margin: 0 10%;
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .our-video__bottom {
    grid-template: auto/1fr;
  }
}
main .our-video__bottom--items {
  text-align: center;
}
main .our-video__bottom--items .number {
  margin: 0;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
}
main .our-video__bottom--items .content {
  color: #fff;
}
main .p-color {
  color: #f6f6f6;
}
main .gallery {
  text-align: center;
  flex-direction: column;
  gap: 2.5rem;
}
main .gallery__content {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .gallery__content {
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .gallery__content {
    grid-template: auto/1fr;
  }
}
main .quality {
  background-color: #f6f6f6;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  margin: 3rem 0;
}
@media only screen and (min-width: 1195px) {
  main .quality {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .quality__top {
  margin: 3rem 0;
}
main .quality__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
main .clients {
  background-image: url(../img/bg-2.jpg);
  position: relative;
  margin: 3rem 0;
}
main .clients__content {
  position: relative;
  text-align: center;
}
main .clients__content h2 {
  color: #fff;
  margin: revert;
}
main .clients__content i {
  font-size: 4rem;
  color: #ff6a00;
}
main .clients__content--name {
  font-weight: 600;
  color: #ff6a00;
}
main .join {
  width: 100%;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  main .join {
    grid-template: 1fr/1fr 1fr;
  }
}
main .join__top form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .join__top form input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 1.2rem;
}
main .join__bottom {
  display: none;
}
@media only screen and (min-width: 1195px) {
  main .join__bottom {
    display: block;
  }
}

footer {
  background-color: #000;
}
footer p {
  color: #666;
}
footer .footer__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  footer .footer__top {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
footer .footer__top .icon {
  padding: 2rem 0;
}
footer .footer__top .icon a {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff6a00;
  width: 40px;
  height: 40px;
}
footer .footer__top .icon i {
  color: #fff;
  padding: 0.8rem;
}
footer .footer__top .icon i:hover {
  color: #000;
  transition: 0.5s;
}
footer .footer__bottom {
  text-align: center;
}
@media only screen and (min-width: 1195px) {
  footer .footer__bottom {
    text-align: start;
  }
}
footer .footer__bottom i {
  display: inline-block;
  color: #666;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #666;
}
footer .footer__bottom p {
  display: inline-block;
}
footer .footer__bottom a {
  font-size: 1rem;
  color: #ff6a00;
  text-decoration: none;
}
footer .footer__bottom a:hover {
  text-decoration: underline;
}

.up-web {
  font-size: 1rem;
  background-color: #ff6a00;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  cursor: pointer;
}
.up-web a {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header .header-content, main .quality {
    padding: 0 5%;
  }

  main .about, main .gallery {
    margin: 3rem 5%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 5%;
  }

  main .fill-out form button, main .join-us__content button:nth-child(1), main .about__top--content button:nth-child(1), main .our-video__top--content button, main .quality__top button, main .join__top form button {
    width: auto;
  }
}
@media only screen and (min-width: 1195px) {
  header .header-content, main .quality {
    padding: 0 10%;
  }

  main .about, main .gallery {
    margin: 3rem 10%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 10%;
  }
}
:root {
  --theme:#fff;
}

main .fill-out__call, main .join-us__content, header .menu, header .menu__content, header .menu__content--item, main .our-video__top, main .our-video__top--play, main .gallery {
  display: flex;
  align-items: center;
}

main .about, main .gallery {
  margin: 3rem 2%;
}

header .header-content, main .quality {
  padding: 0 2%;
}

main .about__bottom {
  padding: 0 4%;
}

main .clients__content, main .join, footer {
  padding: 3rem 4%;
}

main p {
  color: #666;
  line-height: 25px;
  font-size: 18px;
}

main h2 {
  font-size: 30px;
}

main .about__bottom--items h3 {
  font-size: 24px;
}

footer h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

main .fill-out form button, main .join-us__content button:nth-child(1), main .about__top--content button:nth-child(1), main .our-video__top--content button, main .quality__top button, main .join__top form button {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6a00;
  color: #fff;
  font-size: 1rem;
}

main .about-us__top .read-more button, main .join-us__content button:nth-child(2), main .about__top--content button:nth-child(2) {
  color: #ff6a00;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #ff6a00;
  border-bottom-width: 4px;
  background-color: #fff;
  font-size: 1rem;
}

main .join-us, header, main .our-video__top, main .clients {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .join-us::before, header::before, main .our-video__top::before, main .clients::before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

main .fill-out form button:hover, main .join-us__content button:hover:nth-child(1), main .about__top--content button:hover:nth-child(1), main .our-video__top--content button:hover, main .quality__top button:hover, main .join__top form button:hover {
  background-color: #d25c08;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Sarabun", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
body img {
  width: 100%;
}
body button {
  cursor: pointer;
}

header {
  position: relative;
}
header .menu {
  width: 100%;
  padding: 1rem 2%;
  position: absolute;
  justify-content: space-between;
}
header .menu__logo a {
  text-decoration: none;
  color: var(--theme);
  font-size: 2rem;
  font-weight: 600;
}
header .menu__content {
  gap: 15px;
  color: var(--theme);
}
header .menu__content--list {
  display: none;
}
header .menu__content--list ul {
  display: flex;
  list-style-type: none;
}
header .menu__content--list .pages:hover #dropdown {
  display: block;
}
header .menu__content--list #dropdown {
  flex-direction: column;
  display: none;
  position: absolute;
  top: 80%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
header .menu__content--list #dropdown a {
  display: inline-block;
  color: #000;
  padding: 0.5rem 0;
}
header .menu__content--list #dropdown a:hover {
  color: #ff6a00;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--list {
    display: flex;
    align-items: center;
  }
}
header .menu__content--list a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
header .menu__content--list a:hover {
  color: #ff6a00;
  transition: 0.8s;
}
header .menu__content--list .hight-light {
  color: #ff6a00;
}
header .menu__content--list form {
  display: flex;
}
header .menu__content--list form input {
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
header .menu__content--list form button {
  flex-shrink: 1;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ff6a00;
}
header .menu__content button {
  border: none;
  background: none;
}
header .menu__content button i {
  font-size: 1.5rem;
  color: #fff;
}
header .menu__content--item {
  justify-content: center;
  background-color: #ff6a00;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
}
header .menu__content--item i {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--item {
    display: none;
  }
}
header .header-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme);
}
header .header-content h1 {
  font-size: 3rem;
  margin: 0;
}
header .header-content p {
  margin: 0;
  display: flex;
  align-items: baseline;
}
header .header-content p::before {
  content: " ";
  display: inline-block;
  width: 5rem;
  height: 2px;
  background-color: #fff;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  header .menu {
    padding: 1rem 5%;
  }
  header .header-content h1 {
    font-size: 6rem;
  }
  header .header-content p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1195px) {
  header .header-content {
    width: 75%;
  }
}

main {
  padding: 3rem 0;
}
main img {
  border-radius: 5px;
}
main .title {
  color: #ff6a00;
  margin: 0;
  display: inline-block;
  position: relative;
}
main .title::after {
  content: " ";
  width: 3rem;
  height: 2px;
  background-color: #ff6a00;
  display: block;
  position: absolute;
  left: 50%;
  top: 1.8rem;
  transform: translateX(-50%);
}
main .about {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  gap: 3rem;
}
main .about__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
main .about__top--content .read-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__top--content .read-more {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__top--content .read-more button {
    width: auto;
  }
}
main .about__top--content button:nth-child(2):hover {
  background-color: #ff6a00;
  color: #fff;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  main .about__top {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .about__bottom {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__bottom {
    grid-template: 1fr 1fr/1fr 1fr;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__bottom {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
main .about__bottom--items i {
  font-size: 2.5rem;
  color: #ff6a00;
}
main .about__bottom--items h3:hover {
  color: #ff6a00;
  transition: 0.5s;
}
main .our-video {
  margin: 1.5rem 0;
}
main .our-video__top {
  background-image: url(../img/bg-1.jpg);
  position: relative;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 3rem;
}
main .our-video__top--content {
  position: relative;
  padding: 3rem 2% 0;
}
@media only screen and (min-width: 768px) {
  main .our-video__top--content {
    padding: 3rem 5% 0;
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__top--content {
    padding: 3rem 10% 0;
  }
}
main .our-video__top--content h2 {
  color: #fff;
}
main .our-video__top--play {
  position: relative;
  justify-content: center;
}
main .our-video__top--play div {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid #f6f6f6;
}
main .our-video__top--play i {
  font-size: 1rem;
  color: #ff6a00;
  padding: 0.9rem 1rem;
  border-radius: 50%;
  background-color: #fff;
}
@media only screen and (min-width: 1195px) {
  main .our-video__top {
    flex-direction: row;
  }
  main .our-video__top--content {
    width: 50%;
  }
  main .our-video__top--play {
    width: 50%;
  }
}
main .our-video__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
  gap: 0;
  padding: 4rem;
  margin: 0 2%;
  background-color: #ff6a00;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  main .our-video__bottom {
    margin: 0 5%;
    transform: translateY(-10%);
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__bottom {
    margin: 0 10%;
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .our-video__bottom {
    grid-template: auto/1fr;
  }
}
main .our-video__bottom--items {
  text-align: center;
}
main .our-video__bottom--items .number {
  margin: 0;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
}
main .our-video__bottom--items .content {
  color: #fff;
}
main .p-color {
  color: #f6f6f6;
}
main .gallery {
  text-align: center;
  flex-direction: column;
  gap: 2.5rem;
}
main .gallery__content {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .gallery__content {
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .gallery__content {
    grid-template: auto/1fr;
  }
}
main .quality {
  background-color: #f6f6f6;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  margin: 3rem 0;
}
@media only screen and (min-width: 1195px) {
  main .quality {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .quality__top {
  margin: 3rem 0;
}
main .quality__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
main .clients {
  background-image: url(../img/bg-2.jpg);
  position: relative;
  margin: 3rem 0;
}
main .clients__content {
  position: relative;
  text-align: center;
}
main .clients__content h2 {
  color: #fff;
  margin: revert;
}
main .clients__content i {
  font-size: 4rem;
  color: #ff6a00;
}
main .clients__content--name {
  font-weight: 600;
  color: #ff6a00;
}
main .join {
  width: 100%;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  main .join {
    grid-template: 1fr/1fr 1fr;
  }
}
main .join__top form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .join__top form input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 1.2rem;
}
main .join__bottom {
  display: none;
}
@media only screen and (min-width: 1195px) {
  main .join__bottom {
    display: block;
  }
}

footer {
  background-color: #000;
}
footer p {
  color: #666;
}
footer .footer__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  footer .footer__top {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
footer .footer__top .icon {
  padding: 2rem 0;
}
footer .footer__top .icon a {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff6a00;
  width: 40px;
  height: 40px;
}
footer .footer__top .icon i {
  color: #fff;
  padding: 0.8rem;
}
footer .footer__top .icon i:hover {
  color: #000;
  transition: 0.5s;
}
footer .footer__bottom {
  text-align: center;
}
@media only screen and (min-width: 1195px) {
  footer .footer__bottom {
    text-align: start;
  }
}
footer .footer__bottom i {
  display: inline-block;
  color: #666;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #666;
}
footer .footer__bottom p {
  display: inline-block;
}
footer .footer__bottom a {
  font-size: 1rem;
  color: #ff6a00;
  text-decoration: none;
}
footer .footer__bottom a:hover {
  text-decoration: underline;
}

.up-web {
  font-size: 1rem;
  background-color: #ff6a00;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  cursor: pointer;
}
.up-web a {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header .header-content, main .quality {
    padding: 0 5%;
  }

  main .about, main .gallery {
    margin: 3rem 5%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 5%;
  }

  main .fill-out form button, main .join-us__content button:nth-child(1), main .about__top--content button:nth-child(1), main .our-video__top--content button, main .quality__top button, main .join__top form button {
    width: auto;
  }
}
@media only screen and (min-width: 1195px) {
  header .header-content, main .quality {
    padding: 0 10%;
  }

  main .about, main .gallery {
    margin: 3rem 10%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 10%;
  }
}
main .content > div, main .users__content {
  border: 1px solid #e4e6e5;
  border-radius: 5px;
  padding: 20px;
}

main .users {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}

main .content__meta > div:hover div, main .content__categories p:hover, main .content__archives p:hover, main .content__recent-ports > div:hover div {
  color: #ff6a00;
  transform: translateX(2%);
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
}
body img {
  width: 100%;
  border-radius: 5px;
}
body button, body a {
  cursor: pointer;
}

header {
  padding-bottom: 1rem;
  background-image: url(../blog/img-blog/bg-2.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .menu {
  position: relative;
}
header .menu .hight-light {
  color: #fff;
}
header .menu .pages {
  color: #ff6a00;
}
header .pre-home {
  text-align: center;
  position: relative;
  padding: 0.5rem 1.2rem;
  background-color: #666;
  opacity: 0.7;
  border-radius: 5px;
  display: inline-block;
}
header .pre-home a {
  color: #ff6a00;
  text-decoration: none;
}

main {
  display: flex;
  margin: 3rem 2%;
  padding: 20px;
  gap: 20px;
}
main .users {
  width: 65%;
}
main .users__content p {
  color: #666;
  font-size: 0.8rem;
}
main .users__content h3 {
  font-size: 1.5rem;
  margin: 0;
}
main .users__content .name {
  margin: 1rem 0;
}
main .users__content .name i {
  color: #ff6a00;
}
main .users__content .name span {
  color: #666;
}
main .users__content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.2rem;
  background-color: #ff6a00;
  border-radius: 5px;
  border: none;
}
main .users__content a:hover {
  background-color: #d25c08;
  transition: 0.5s;
}
main .content {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .content--search form {
  width: 100%;
  display: flex;
}
main .content--search form input {
  width: 70%;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e4e6e5;
  border-right: none;
}
main .content--search form button {
  width: 30%;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  border: none;
  color: #fff;
  background-color: #ff6a00;
}
main .content__recent-ports > div {
  padding: 1rem 0;
  border-bottom: 1px solid #e4e6e5;
}
main .content__recent-comment a {
  padding: 1rem 0;
  color: #ff6a00;
  text-decoration: none;
}
main .content__recent-comment a:hover {
  text-decoration: underline;
}
main .content__archives i {
  display: none;
}
main .content__archives p {
  color: #666;
}
main .content__archives p:hover {
  color: #ff6a00;
}
main .content__archives p:hover i {
  display: inline-block;
}
main .content__categories p {
  color: #666;
}
main .content__meta > div {
  padding: 1rem 0;
  border-bottom: 1px solid #e4e6e5;
}
main .content__meta > div i {
  color: #ff6a00;
}
main .content__meta > div span {
  color: #666;
}
main .content__meta > div:hover div span {
  color: #ff6a00;
}

:root {
  --theme:#fff;
}

main .fill-out__call, main .join-us__content, header .menu, header .menu__content, header .menu__content--item, main .our-video__top, main .our-video__top--play, main .gallery {
  display: flex;
  align-items: center;
}

main .about, main .gallery {
  margin: 3rem 2%;
}

header .header-content, main .quality {
  padding: 0 2%;
}

main .about__bottom {
  padding: 0 4%;
}

main .clients__content, main .join, footer {
  padding: 3rem 4%;
}

main p {
  color: #666;
  line-height: 25px;
  font-size: 18px;
}

main h2 {
  font-size: 30px;
}

main .about__bottom--items h3 {
  font-size: 24px;
}

footer h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

main .fill-out form button, main .join-us__content button:nth-child(1), main .about__top--content button:nth-child(1), main .our-video__top--content button, main .quality__top button, main .join__top form button {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6a00;
  color: #fff;
  font-size: 1rem;
}

main .about-us__top .read-more button, main .join-us__content button:nth-child(2), main .about__top--content button:nth-child(2) {
  color: #ff6a00;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #ff6a00;
  border-bottom-width: 4px;
  background-color: #fff;
  font-size: 1rem;
}

main .join-us, main .our-video__top, main .clients, header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .join-us::before, main .our-video__top::before, main .clients::before, header::before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

main .fill-out form button:hover, main .join-us__content button:hover:nth-child(1), main .about__top--content button:hover:nth-child(1), main .our-video__top--content button:hover, main .quality__top button:hover, main .join__top form button:hover {
  background-color: #d25c08;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Sarabun", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
body img {
  width: 100%;
}
body button {
  cursor: pointer;
}

header {
  position: relative;
}
header .menu {
  width: 100%;
  padding: 1rem 2%;
  position: absolute;
  justify-content: space-between;
}
header .menu__logo a {
  text-decoration: none;
  color: var(--theme);
  font-size: 2rem;
  font-weight: 600;
}
header .menu__content {
  gap: 15px;
  color: var(--theme);
}
header .menu__content--list {
  display: none;
}
header .menu__content--list ul {
  display: flex;
  list-style-type: none;
}
header .menu__content--list .pages:hover #dropdown {
  display: block;
}
header .menu__content--list #dropdown {
  flex-direction: column;
  display: none;
  position: absolute;
  top: 80%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
header .menu__content--list #dropdown a {
  display: inline-block;
  color: #000;
  padding: 0.5rem 0;
}
header .menu__content--list #dropdown a:hover {
  color: #ff6a00;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--list {
    display: flex;
    align-items: center;
  }
}
header .menu__content--list a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
header .menu__content--list a:hover {
  color: #ff6a00;
  transition: 0.8s;
}
header .menu__content--list .hight-light {
  color: #ff6a00;
}
header .menu__content--list form {
  display: flex;
}
header .menu__content--list form input {
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
header .menu__content--list form button {
  flex-shrink: 1;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ff6a00;
}
header .menu__content button {
  border: none;
  background: none;
}
header .menu__content button i {
  font-size: 1.5rem;
  color: #fff;
}
header .menu__content--item {
  justify-content: center;
  background-color: #ff6a00;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
}
header .menu__content--item i {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1195px) {
  header .menu__content--item {
    display: none;
  }
}
header .header-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme);
}
header .header-content h1 {
  font-size: 3rem;
  margin: 0;
}
header .header-content p {
  margin: 0;
  display: flex;
  align-items: baseline;
}
header .header-content p::before {
  content: " ";
  display: inline-block;
  width: 5rem;
  height: 2px;
  background-color: #fff;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  header .menu {
    padding: 1rem 5%;
  }
  header .header-content h1 {
    font-size: 6rem;
  }
  header .header-content p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1195px) {
  header .header-content {
    width: 75%;
  }
}

main {
  padding: 3rem 0;
}
main img {
  border-radius: 5px;
}
main .title {
  color: #ff6a00;
  margin: 0;
  display: inline-block;
  position: relative;
}
main .title::after {
  content: " ";
  width: 3rem;
  height: 2px;
  background-color: #ff6a00;
  display: block;
  position: absolute;
  left: 50%;
  top: 1.8rem;
  transform: translateX(-50%);
}
main .about {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  gap: 3rem;
}
main .about__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
main .about__top--content .read-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__top--content .read-more {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__top--content .read-more button {
    width: auto;
  }
}
main .about__top--content button:nth-child(2):hover {
  background-color: #ff6a00;
  color: #fff;
  transition: 0.5s;
}
@media only screen and (min-width: 1195px) {
  main .about__top {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .about__bottom {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .about__bottom {
    grid-template: 1fr 1fr/1fr 1fr;
  }
}
@media only screen and (min-width: 1195px) {
  main .about__bottom {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
main .about__bottom--items i {
  font-size: 2.5rem;
  color: #ff6a00;
}
main .about__bottom--items h3:hover {
  color: #ff6a00;
  transition: 0.5s;
}
main .our-video {
  margin: 1.5rem 0;
}
main .our-video__top {
  background-image: url(../img/bg-1.jpg);
  position: relative;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 3rem;
}
main .our-video__top--content {
  position: relative;
  padding: 3rem 2% 0;
}
@media only screen and (min-width: 768px) {
  main .our-video__top--content {
    padding: 3rem 5% 0;
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__top--content {
    padding: 3rem 10% 0;
  }
}
main .our-video__top--content h2 {
  color: #fff;
}
main .our-video__top--play {
  position: relative;
  justify-content: center;
}
main .our-video__top--play div {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid #f6f6f6;
}
main .our-video__top--play i {
  font-size: 1rem;
  color: #ff6a00;
  padding: 0.9rem 1rem;
  border-radius: 50%;
  background-color: #fff;
}
@media only screen and (min-width: 1195px) {
  main .our-video__top {
    flex-direction: row;
  }
  main .our-video__top--content {
    width: 50%;
  }
  main .our-video__top--play {
    width: 50%;
  }
}
main .our-video__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
  gap: 0;
  padding: 4rem;
  margin: 0 2%;
  background-color: #ff6a00;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  main .our-video__bottom {
    margin: 0 5%;
    transform: translateY(-10%);
  }
}
@media only screen and (min-width: 1195px) {
  main .our-video__bottom {
    margin: 0 10%;
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .our-video__bottom {
    grid-template: auto/1fr;
  }
}
main .our-video__bottom--items {
  text-align: center;
}
main .our-video__bottom--items .number {
  margin: 0;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
}
main .our-video__bottom--items .content {
  color: #fff;
}
main .p-color {
  color: #f6f6f6;
}
main .gallery {
  text-align: center;
  flex-direction: column;
  gap: 2.5rem;
}
main .gallery__content {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .gallery__content {
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 415px) {
  main .gallery__content {
    grid-template: auto/1fr;
  }
}
main .quality {
  background-color: #f6f6f6;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  margin: 3rem 0;
}
@media only screen and (min-width: 1195px) {
  main .quality {
    grid-template: 1fr/1fr 1fr;
    align-items: center;
  }
}
main .quality__top {
  margin: 3rem 0;
}
main .quality__bottom {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
main .clients {
  background-image: url(../img/bg-2.jpg);
  position: relative;
  margin: 3rem 0;
}
main .clients__content {
  position: relative;
  text-align: center;
}
main .clients__content h2 {
  color: #fff;
  margin: revert;
}
main .clients__content i {
  font-size: 4rem;
  color: #ff6a00;
}
main .clients__content--name {
  font-weight: 600;
  color: #ff6a00;
}
main .join {
  width: 100%;
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  main .join {
    grid-template: 1fr/1fr 1fr;
  }
}
main .join__top form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .join__top form input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 1.2rem;
}
main .join__bottom {
  display: none;
}
@media only screen and (min-width: 1195px) {
  main .join__bottom {
    display: block;
  }
}

footer {
  background-color: #000;
}
footer p {
  color: #666;
}
footer .footer__top {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
}
@media only screen and (min-width: 1195px) {
  footer .footer__top {
    grid-template: 1fr/1fr 1fr 1fr 1fr;
  }
}
footer .footer__top .icon {
  padding: 2rem 0;
}
footer .footer__top .icon a {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff6a00;
  width: 40px;
  height: 40px;
}
footer .footer__top .icon i {
  color: #fff;
  padding: 0.8rem;
}
footer .footer__top .icon i:hover {
  color: #000;
  transition: 0.5s;
}
footer .footer__bottom {
  text-align: center;
}
@media only screen and (min-width: 1195px) {
  footer .footer__bottom {
    text-align: start;
  }
}
footer .footer__bottom i {
  display: inline-block;
  color: #666;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #666;
}
footer .footer__bottom p {
  display: inline-block;
}
footer .footer__bottom a {
  font-size: 1rem;
  color: #ff6a00;
  text-decoration: none;
}
footer .footer__bottom a:hover {
  text-decoration: underline;
}

.up-web {
  font-size: 1rem;
  background-color: #ff6a00;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  cursor: pointer;
}
.up-web a {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header .header-content, main .quality {
    padding: 0 5%;
  }

  main .about, main .gallery {
    margin: 3rem 5%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 5%;
  }

  main .fill-out form button, main .join-us__content button:nth-child(1), main .about__top--content button:nth-child(1), main .our-video__top--content button, main .quality__top button, main .join__top form button {
    width: auto;
  }
}
@media only screen and (min-width: 1195px) {
  header .header-content, main .quality {
    padding: 0 10%;
  }

  main .about, main .gallery {
    margin: 3rem 10%;
  }

  main .clients__content, main .join, footer {
    padding: 3rem 10%;
  }
}
* {
  box-sizing: border-box;
}

main .our-team {
  padding: 3rem 10%;
}
main .our-team__top {
  text-align: center;
}
main .our-team__bottom {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  gap: 20px;
}
main .our-team__bottom--items {
  text-align: center;
}
main .our-team__bottom--items p {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
main .our-team__bottom--items p:hover {
  color: #ff6a00;
  transition: 0.5s;
}
main .our-team__bottom--items .landing-info i {
  background-color: #f6f6f6;
  font-size: 1rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
main .our-team__bottom--items .landing-info i:nth-child(1) {
  padding: 1rem 1.2rem;
}
main .our-team__bottom--items .landing-info i:hover {
  color: #fff;
  background-color: #ff6a00;
  transition: 0.5s;
}
main .clients {
  margin-bottom: 0;
}
main .join {
  padding: 0;
  align-items: center;
}
main .join__top {
  padding: 0 10%;
}
main .join-us {
  position: relative;
  background-image: url(../img/bg-1.jpg);
}
main .join-us__content {
  padding: 3rem 5%;
  position: relative;
}
main .join-us__content--top {
  min-width: 50%;
}
main .join-us__content--top h2 {
  color: #fff;
}
main .join-us__content--top #content {
  color: #fff;
}
main .join-us__content .read-more {
  min-width: 50%;
  display: flex;
  justify-content: end;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  main .join-us__content .read-more {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1195px) {
  main .join-us__content .read-more button {
    width: auto;
  }
}
main .join-us__content button:nth-child(2) {
  background-color: initial;
  border-color: #fff;
  color: #fff;
}
main .join-us__content button:nth-child(2):hover {
  background-color: #ff6a00;
  color: #fff;
  transition: 0.5s;
  border-color: #ff6a00;
}
main .fill-out {
  padding: 3rem 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .fill-out form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .fill-out form input {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid #e4e6e5;
  border-radius: 5px;
}
main .fill-out form #name {
  flex-grow: 1;
}
main .fill-out form #email {
  flex-grow: 1;
}
main .fill-out form #subject {
  width: 100%;
}
main .fill-out form textarea {
  width: 100%;
  font-size: 1rem;
  color: #666;
  padding: 1rem 2rem;
  resize: none;
  border: 1px solid #e4e6e5;
  border-radius: 5px;
}
main .fill-out__call {
  justify-content: center;
  gap: 20px;
}
main .fill-out__call--content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 2rem;
  background-color: #f6f6f6;
  flex-grow: 1;
}
main .fill-out__call--content div {
  text-align: start;
}
main .fill-out__call--content div p {
  margin-bottom: 0;
  cursor: pointer;
}
main .fill-out__call--content div p:hover {
  color: #ff6a00;
  transition: 0.5s;
}
main .fill-out__call--content i {
  padding: 0.8rem;
  font-size: 2rem;
  color: #fff;
  background-color: #ff6a00;
  border-radius: 50%;
  flex-grow: auto;
}
main .fill-out__call--content h3 {
  margin-top: 0;
}
main .get {
  background-color: #f6f6f6;
}
main .get__content {
  padding: 3rem 15%;
  display: flex;
  justify-content: center;
  gap: 25px;
}
main .get__content div {
  width: 50%;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

body {
  cursor: pointer;
}

header .menu {
  position: inherit;
}
header .pre-home span {
  color: #fff;
}

main {
  flex-direction: column;
  gap: 4rem;
  padding: 0;
  margin: 4rem 0;
}
main .about-us {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
  gap: 25px;
  padding: 0 5%;
}
main .about-us__top .read-more button:hover {
  background-color: #ff6a00;
  color: #fff;
  transition: 0.5s;
}
main .about-us__top p {
  line-height: 1.8rem;
}
main .offer {
  background-color: #f6f6f6;
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 20px;
}
main .offer img {
  height: 100%;
}
main .offer__content {
  padding: 4rem 10%;
}
main .offer__content--bottom {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 20px;
  gap: 1rem;
}
main .offer__content--bottom h3:hover {
  color: #ff6a00;
  transition: 0.5s;
}

/*# sourceMappingURL=about.css.map */
