@mixin position($location: center) {
    position: absolute;

    @if $location == center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @if $location == top {
        top: 0;
    }
}

@mixin dp-grid($col, $row) {
    display: grid;
    grid-template: $row/ $col;
    gap: 20px;
}
 
