$font-family1: 'Poppins', sans-serif;
$font-family2: 'Sarabun', sans-serif;
$colors: #ff6a00;
$color-hover: #d25c08;
$p-color: #666;
$p-color2: #f6f6f6;
$bg-color: #fff;
$black-color: #000;
$border: #e4e6e5;

:root {
    --theme:#fff;
}